@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --conteiner-width: 940px;
    --text-color: #000000;
    --link-text-color: #ffffff;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.body__image {
    background-image: url(/img/backgrounds/pattern-bg.jpg);
}

.hidden {
    display: none;
}

.header {
    background-color: #000000;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.navigation__list {
    display: flex;
    column-gap: 40px;
}

.navigation__link {
    font-size: 16px;
    line-height: 20px;
    color: var(--link-text-color);
}

.navigation__enter {
    position: relative;
}

.navigation__enter::before {
    content: "";
    display: inline-block;
    background: url("/img/icons/login.svg");
    width: 14px;
    height: 14px;
    position: absolute;
    left: -30px;
    top: 5px;
}

.main {
    background: url("/img/backgrounds/background_1.jpg") no-repeat;
}

.logo {
    max-width: 370px;
    margin: 0 auto;
    padding-top: 55px;
}

.advantages__list {
    display: flex;
    display: flex;
    justify-content: space-around;
    column-gap: 25px;
    padding-top: 70px;
    padding-bottom: 80px;
}

.advantages__item {
    color: #F7F4F1;
    max-width: 300px;
}

.advantages__title {
    font-size: 30px;
    line-height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.advantages__title::after {
    content: "";
    display: inline-block;
    background: url("/img/icons/shape_2.svg");
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
}

.advantages__text {
    text-align: center;
    padding-top: 15px;
}

.about {}

.about__row,
.contacts__row {
    display: flex;
    background-image: url("/img/backgrounds/pattern-bg.jpg");
}

.news,
.gallery,
.address,
.enroll {
    flex-grow: 1;
    max-width: 470px;
    padding: 48px 45px 50px 80px;
}

.title {
    font-size: 25px;
    line-height: 42px;
    padding-bottom: 30px;
}

.news__item {}

.news__link {
    color: var(--text-color);
    padding-bottom: 8px;
}

.news__time {
    padding-bottom: 30px;
}

.news__btn,
.black__btn {
    color: #ffffff;
    font-weight: bold;
    min-width: 140px;
    background-color: #000000;
    padding: 17px 30px;
}

.right__btn {
    margin-right: 18px;
}

.gallery__img {}

.gallery__navigation {
    padding: 50px 0;
}

.gallery__prev {
    margin-right: 20px;
}

.contacts {
    margin-top: 36px;
    padding-bottom: 65px;
}

.time__text {
    padding-top: 40px;
}

.address__buttons {
    padding-top: 52px;
}

.form__row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.form__label {
    padding: 6px;
    display: inline-block;
    /* margin-top: 20px; */
}

.form__input {
    border: 3px solid #000000;
    width: 160px;
    padding: 10px;
}

.form__btn {
    width: 100%;
    margin-top: 25px;
}

.footer {
    background-color: #212121;
    color: #F7F4F1;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 45px 0;
}

.footer__title {
    padding-bottom: 20px;
    text-align: center;
}

.social__link {
    background-color: #000000;
    display: inline-block;
    width: 45px;
    height: 45px;
    position: relative;
}

.social__img {
    position: absolute;
}

.social__vk {
    top: 15%;
    left: 12%;
    width: 32px;
    height: 32px;
}

.social__instagram {
    top: 23%;
    left: 23%;
    width: 25px;
    height: 25px;
}

.social__facebook {
    top: 23%;
    left: 23%;
    width: 25px;
    height: 25px;
}

.main__product {
    background-image: url("/img/backgrounds/pattern-bg.jpg");
    text-transform: uppercase;
}

.inner__title {
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 35px;
}

.breadcrumbs__list {
    display: flex;
    gap: 40px;
    padding: 50px 0;
}

.breadcrumbs__list li:nth-child(n+2)::before {
    content: "";
    display: inline-block;
    background: url("/img/icons/breadcrumbs_square.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    position: absolute;
    top: 6px;
    left: -25px;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__link {
    color: #000000;
}

.non-active {
    color: #ABA9A7;
}

.product__row {
    display: flex;
}

.column-left-padding-90 {
    padding-left: 90px;
}

.product__image {
    max-width: 460px;
    filter: drop-shadow(0px 0px 15px rgba(0, 1, 1, 0.2));
}

.product__image_preview {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 49px;
}

.product__image_smal {
    min-width: 140px;
    filter: drop-shadow(0px 0px 15px rgba(0, 1, 1, 0.2));
}

.product__info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 30px;
}

.product__sku {
    color: #AEAEAE;
}

.product__order {
    padding: 30px 0 60px;
}

.product__price {
    font-weight: bold;
    background-color: #E5E5E5;
    padding: 17px 45px;
    margin-right: -6px;
}

.pricelist__brands li,
.product__kit li {
    list-style-image: url('/img/icons/breadcrumbs_square.svg');
    list-style-position: outside;
}

.pricelist__header {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
    padding-bottom: 62px;
}

.pricelist__header::before,
.pricelist__header::after {
    content: "";
    border-bottom: 2px solid black;
    display: inline-block;
    width: 12%;
    position: absolute;
    bottom: 66px;
}

.pricelist__header::before {
    left: 0;
}

.pricelist__header::after {
    right: 0;
}

.pricelist_row {
    display: flex;
}

.pricelist_row--about {
    align-items: flex-end;
}

.pricelist_column {
    max-width: 470px;
    width: 100%;
}

.pricelist__title-small {
    line-height: 35px;
}

.pricelist__brands {
    margin-left: 18px;
}

.pricelist__brands-item {
    font-size: 14px;
    line-height: 24px;
}

.pricelist__table {
    width: 100%;
    border-collapse: collapse;
}

.pricelist__table-name,
.pricelist__table-price {
    border: 2px solid black;
    padding: 10px 0;
    width: 50%;
}

.pricelist__table-name {
    padding-left: 10px;
}

.pricelist__table-price {
    text-align: center;
}

.pricelist__title--about {
    padding-top: 54px;
}

.pricelist__row--about {
    padding-bottom: 80px;
}

.filter__checkbox input[type="checkbox"] {
    border: 1px solid black;
}

.row {
    display: flex;
    column-gap: 50px;
}

.store__filter {
    text-transform: uppercase;
    max-width: 240px;
}

.filter__legend {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.filter__label {
    font-size: 14px;
    line-height: 18px;
}

.filter__fieldset {
    padding-bottom: 40px;
}

.filter__input {
    padding-bottom: 10px;
}

.filter__btn {
    color: #ffffff;
    font-weight: bold;
    background-color: #000000;
    padding: 17px 30px;
}

.products__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    column-gap: 15px;
}

.card {
    background-color: #fff;
    width: 220px;
    box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2)
}

.card__name,
.card__order {
    max-width: 190px;
}

.card_info {
    margin: 0 auto;
    max-width: 190px;
}

.card__name,
.card__order {
    padding-bottom: 17px;
}

.card__price {
    padding: 17px 30px;
}

.name__uppercase {
    text-transform: uppercase;
}

.card__btn {
    color: #ffffff;
    font-weight: bold;
    background-color: #000000;
    padding: 17px 17px;
}

.store__pagination {
    padding: 45px 0px;
}

.pagination__list {
    display: flex;
    gap: 10px;
}

.pagination__item {
    text-align: center;
    background-color: #000000;
    width: 43px;
    height: 43px;
    padding: 9px;
    font-size: 14px;
}

.pagination__link {
    color: #fff;
}

.pagination__link--disabled {
    color: #000000;
}

.pagination__item--disabled {
    background-color: #E5E5E5;
}